.i18n-ar footer {
    direction: rtl;
    text-align: right
}

.footer-search .footer-search-btn span,.footer-sec-wrap ul.zft-social-icons li a,.ZF-contact ul li.zf-support-mail:before {
    background: var(--common-elements) no-repeat
}

.zlang-container .zlang-text::after,.zlang-container-inner li a::before,.lang-support span {
    background: var(--country-flags) no-repeat
}

.ccode-in .footer-sec-wrap .product-links>div.footer-contact.for-india {
    display: block
}

.apps-download-links-wrap {
    padding: 0 5px
}

button.zlang-text {
    border: 0;
    background: 0;
    color: #000
}

.zwc-general-single-menu a {
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 15px 20px;
    background: #fafafa;
    border-bottom: 1px solid #efefef;
    font-size: 15px;
    display: block;
    color: #000;
    font-family: var(--zf-secondary-semibold)
}

.footer-wrapper .menu li a:hover {
    background: 0
}

.footer-sec-wrap {
    border-top: 1px solid #eaeaea;
    background: #f5f5f5
}

.footer-sec-wrap .content-wrap {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    padding: 50px 0;
    overflow: visible
}

.footer-sec-wrap .product-links.one-column div:first-child h4 {
    display: none
}

.footer-sec-wrap.two-column .content-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    max-width: 1700px
}

.footer-sec-wrap.two-column .bottom-promo .content-wrap {
    margin: 40px auto
}

.footer-sec-wrap.two-column .promo-section-wrap {
    width: 30%;
    padding: 60px 0;
    background: #f5f5f5;
    display: flex;
    align-items: center
}

.footer-sec-wrap.two-column .footer-links-wrap {
    width: 70%;
    padding: 60px
}

.footer-sec-wrap .footer-links-wrap {
    padding: 0 30px
}

.customer-stories {
    margin: 0 auto;
    max-width: 400px;
    width: 80%;
    overflow: hidden;
    text-align: center;
    padding: 0 20px
}

.customer-stories img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 100%
}

.customer-stories a+a {
    margin-top: 20px;
    display: block
}

.customer-stories p a {
    position: relative;
    color: #555;
    font-size: 12px;
    text-decoration: none;
    display: inline-block
}

.customer-stories p a span {
    display: block;
    color: #999;
    font-size: 11px;
    font-style: italic
}

.common-links {
    position: relative;
    font-size: 11px;
    text-align: center
}

.footer-sec-wrap.two-column .common-links {
    text-align: left
}

.common-links:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: #f5f5f5
}

.one-column .common-links:before {
    display: none
}

.footer-sec-wrap.two-column .common-links:before {
    width: 75%
}

.common-links ul {
    list-style: none;
    overflow: hidden
}

.common-links .ZPprivacy {
    padding: 0 20px
}

.common-links ul.ZPprivacy li {
    display: inline-block;
    border-right: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 10px
}

.common-links ul li a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 0
}

.common-links ul.ZPprivacy li:last-child {
    padding-right: 0;
    border-right: 0
}

.zw-only-copyright p {
    padding: 0 20px;
    font-size: 11px;
    max-width: 100%;
    margin-bottom: 10px;
    text-align: center
}

.footer-sec-wrap .product-links {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap
}

.footer-sec-wrap.three-column .product-links.three-column {
    max-width: 980px
}

.footer-sec-wrap .product-links>div {
    padding: 0 40px 0 0
}

.footer-sec-wrap .product-links>div.footer-contact.for-india {
    display: none
}

.footer-sec-wrap .product-links.one-column>div {
    padding: 0
}

.footer-sec-wrap .product-links ul {
    list-style: none;
    padding: 0
}

.footer-sec-wrap .product-links h4 {
    margin-bottom: 10px;
    text-align: left;
    color: #000
}

.footer-sec-wrap .product-links ul+h4 {
    margin-top: 20px
}

.footer-sec-wrap .product-links ul li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 0;
    display: inline-block
}

.footer-sec-wrap .product-links ul li ul {
    padding-left: 10px
}

.footer-sec-wrap .product-links ul li ul li a {
    font-size: 11px
}

.footer-sec-wrap .product-links ul li.active>a {
    color: #00aeef
}

.footer-sec-wrap .product-links.one-column ul {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.footer-sec-wrap .product-links.one-column ul li {
    padding: 5px 20px
}

.footer-sec-wrap .product-links.one-column ul li:first-child {
    margin-left: 0
}

.footer-sec-wrap .product-links.one-column ul li:last-child {
    margin-right: 0
}

.footer-sec-wrap .product-links.three-column>div {
    flex: 0 0 33.33%;
    max-width: 33.33%
}

.footer-sec-wrap.two-column .product-links.four-column>div,.footer-sec-wrap .product-links.four-column>div {
    flex: 0 0 25%;
    max-width: 25%
}

.footer-sec-wrap .product-links.two-column>div {
    flex: 0 0 50%;
    max-width: 50%
}

.product-links.one-column {
    justify-content: center
}

.zdc-container,.zlang-container {
    position: relative
}

.zdc-container .zdc-text,.zlang-container .zlang-text {
    display: inline-block;
    font-size: 11px;
    line-height: 14px;
    padding: 5px 5px 5px 26px;
    position: relative;
    cursor: pointer
}

.zlang-container .zlang-text {
    padding-right: 15px
}

.zdc-container .zdc-container-inner,.zlang-container .zlang-container-inner {
    display: none;
    right: 0;
    padding: 10px 0;
    position: absolute;
    bottom: 15px;
    width: 125px
}

.zlang-container .zlang-container-inner {
    z-index: 10
}

.zdc-container ul,.zlang-container ul {
    background: #fff;
    border: 1px solid #e0e0e0;
    margin: 0;
    padding: 15px;
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: visible;
    display: block
}

.zdc-container ul::after,.zdc-container ul::before,.zlang-container ul::after,.zlang-container ul::before {
    border: solid transparent;
    content: " ";
    height: 0;
    right: 1px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
    z-index: 3
}

.zdc-container ul::before,.zlang-container ul::before {
    border-color: silver rgba(221,229,237,0) rgba(221,229,237,0);
    border-width: 7px;
    margin-left: -7px;
    right: 0
}

.zdc-container ul::after,.zlang-container ul::after {
    border-color: #fff rgba(255,255,255,0) rgba(255,255,255,0);
    border-width: 6px;
    margin-left: -6px
}

.zlang-container ul li.lang-domain {
    font-family: var(--zf-primary-semibold);
    border-bottom: 1px dotted #eee;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffed
}

.zlang-container ul li.lang-domain a {
    padding-left: 10px;
    font-size: 13px
}

.zlang-container .zlang-container-inner.zshow {
    display: block
}

.zdc-container a,.zlang-container a {
    background: rgba(0,0,0,0);
    border: 0;
    color: #000;
    font-size: 11px;
    height: auto;
    margin: 0;
    opacity: 1;
    text-align: left;
    text-indent: 0;
    width: 100%;
    padding: 5px 0
}

.zdc-container a:hover,.zlang-container a:hover {
    color: #03a9f5
}

.zlang-container .zlang-container-inner {
    width: 400px;
    bottom: 25px;
    display: block
}

.zlang-container ul {
    padding: 20px 30px 20px 20px;
    border: 2px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    display: flex;
    width: 100%;
    flex-wrap: wrap
}

.zlang-container ul li {
    width: 50%;
    position: relative;
    border: 0;
    line-height: 1.2;
    display: flex;
    margin: 6px 0;
    padding-right: 8px
}

.common-links .zlang-container li a {
    font-size: 12px;
    padding: 3px 0 3px 30px
}

.zlang-container ul:before {
    margin-left: 0;
    border-width: 0;
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #e0e0e0;
    position: absolute;
    right: 14px;
    margin: auto;
    bottom: -12px
}

.zlang-container ul:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #fff;
    position: absolute;
    right: 16px;
    margin: auto;
    bottom: -12px
}

.common-links:before {
    content: none
}

.czonefooter {
    padding: 0 0 30px;
    margin-top: 0
}

.ZF-support {
    background: #fff;
    display: block;
    width: 100%;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea
}

.ZF-container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px 0;
    display: table
}

.ZF-contact>ul {
    text-align: right;
    margin: 0;
    overflow: visible
}

.ZF-contact>ul>li {
    border: 0;
    font-size: 17px;
    display: inline-block;
    padding-right: 10px
}

.ZF-contact>ul>li:first-child {
    padding-right: 20px
}

.ZF-contact>ul>li>a {
    color: #03a9f5;
    font-family: var(--zf-primary-semibold);
    position: relative
}

.ZF-contact ul li.zf-support-mail:before {
    content: '';
    background-size: 530px auto;
    background-position: -324px 0;
    width: 23px;
    height: 16px;
    position: absolute;
    left: 0;
    right: 0
}

.ZF-support .ZF-dlsel {
    text-align: right
}

.ZF-support .zlang-text:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #000;
    position: absolute;
    top: 8px;
    right: 0
}

.ZF-support ul li.zf-support-mail {
    position: relative;
    padding-left: 30px;
    line-height: 13px
}

.zdc-container .zdc-text {
    padding: 5px 15px 5px 5px
}

.common-links .zlang-text {
    padding-right: 15px
}

.czonefooter.common-links .zdc-text:before,.czonefooter.common-links .zlang-text:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #000;
    position: absolute;
    top: 8px;
    right: 0
}

.footer-sec-wrap.two-column .czonefooter {
    text-align: center;
    padding-top: 0;
    margin-top: 0
}

.zdc-container {
    display: none
}

.ZPprivacy li {
    line-height: 12px
}

.zw-only-copyright {
    padding: 20px 0
}

.zw-only-copyright p {
    margin: 0
}

.footer-sec-wrap .product-links ul.zft-social-icons li {
    display: inline-block;
    margin-right: 10px
}

.footer-sec-wrap ul.zft-social-icons li a {
    display: inline-block;
    text-indent: -999px;
    font-size: 0;
    height: 28px;
    width: 32px;
    background-size: 875px auto;
    padding: 0;
    vertical-align: middle
}

.footer-sec-wrap ul.zft-social-icons li.zft-twitter a {
    background-position: -210px 0;
    width: 25px;
    background-size: 795px auto;
    height: 25px
}

.footer-sec-wrap ul.zft-social-icons li.zft-linkedin a {
    background-position: -300px 0;
    width: 33px;
    height: 27px;
    background-size: 1000px auto
}

.footer-sec-wrap ul.zft-social-icons li.zft-youtube a {
    background-position: -317px 0;
    width: 39px
}

.footer-sec-wrap ul.zft-social-icons li.zft-fb a {
    background-position: -201px 0;
    background-size: 890px auto;
    width: 29px
}

.footer-sec-wrap ul.zft-social-icons li.zft-office365 a {
    background-position: -290px 0;
    width: 24px;
    background-size: 870px
}

.footer-sec-wrap ul.zft-social-icons li.zft-pinterest a {
    background-position: -393px 0;
    background-size: 890px;
    width: 29px
}

.footer-sec-wrap ul.zft-social-icons li.zft-instagram a {
    background-position: -362px 0;
    width: 30px;
    background-size: 890px
}

.footer-sec-wrap ul.zft-social-icons li.zft-flickr a {
    background-position: -611px -90px
}

.footer-search {
    margin: 50px auto;
    position: relative;
    max-width: 900px;
    width: 90%
}

form#footer-search-action {
    border: 1px solid #dfdfdf
}

.footer-search .footer-search-input {
    background: transparent;
    padding: 12px 60px 12px 12px;
    font-size: 15px;
    max-width: 100%;
    margin: 0;
    height: initial;
    line-height: initial;
    border: 0;
    text-indent: 0;
    width: 100%;
    font-family: var(--zf-primary-regular)
}

.footer-search .footer-search-btn {
    height: 100%;
    width: 48px;
    top: 0;
    right: 0;
    cursor: pointer;
    position: absolute;
    border: 1px solid #dfdfdf;
    background: #f7f7f7
}

.footer-search .footer-search-btn span {
    background-size: 796px auto;
    background-position: -378px 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-left: 2px;
    opacity: .7
}

.zlang-container-inner.localBox-single {
    width: 200px
}

.zlang-container-inner.localBox-single li {
    width: 100%;
    padding: 0
}

.zw-only-copyright ul li a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-size: 13px
}

.zw-only-copyright ul li {
    display: inline-block;
    border-right: 1px solid #ccc;
    padding: 0 10px
}

.zw-only-copyright ul li:first-child {
    padding-left: 0
}

.zw-only-copyright ul li:last-child {
    padding-right: 0
}

.zw-only-copyright ul li:last-child,.lang-rtl .zw-only-copyright ul li:last-child {
    border: 0
}

.zw-only-copyright ul {
    display: flex;
    align-items: center;
    justify-content: center
}

.r-g-f .zw-only-copyright p {
    font-size: 13px;
    padding: 0
}

.r-g-f .zw-only-copyright .content-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px
}

.lang-rtl .zw-only-copyright ul li {
    border-left: 1px solid #ccc;
    border-right: 0;
    padding: 0 10px
}

.r-g-f .i18n-ar .zw-only-copyright ul li:last-child {
    border-color: transparent
}

.r-g-f .zw-only-copyright+.zsocial-share {
    border-top: 1px solid #eee;
    padding: 15px 0
}

.r-g-f:not(.zw-template-zp_signup) .zw-only-copyright {
    padding-left: 80px;
    padding-right: 80px;
    border-top: 1px solid #e6e6e6
}

.lang-rtl .zw-only-copyright ul li:first-child {
    padding-right: 0
}

.lang-rtl .zw-only-copyright ul li:last-child {
    padding-left: 0
}

.zf-multi-support-mail .ZF-contact ul li.zf-support-mail a:first-child:after {
    content: ",";
    display: inline-block
}

body.lang-rtl .ZF-support ul li.zf-support-mail a {
    padding: 0
}

.other-lang .footer-sec-wrap {
    border-top: 0;
    display: none
}

.i18n-ar .zlang-container .zlang-container-inner {
    right: unset;
    left: 0
}

.i18n-ar .zlang-container ul:before {
    right: unset;
    left: 14px
}

.i18n-ar .zlang-container ul:after {
    right: unset;
    left: 16px
}

.i18n-ar .common-links .ZF-contact>ul {
    text-align: left
}

.i18n-ar .common-links .ZF-contact>ul>li:last-child {
    border-right: 0
}

.i18n-ar .footer-search .footer-search-btn {
    right: unset;
    left: 0
}

.i18n-ar .footer-search .footer-search-input {
    padding: 12px 12px 12px 60px
}

.i18n-ar .ZF-support .zlang-text:before {
    right: auto;
    left: 10px
}

.i18n-ar .ZF-support .zlang-text {
    padding: 5px 21px 5px 15px
}

.i18n-ar .common-links .zlang-container li a {
    padding: 3px 30px 3px 0
}

.i18n-ar .zlang-container ul {
    flex-direction: row-reverse
}

.i18n-ar .footer-sec-wrap .product-links ul.zft-social-icons li {
    margin: 0 0 0 10px
}

.i18n-ar .apps-download-links-wrap a {
    margin: 0 0 5px 5px
}

.i18n-ar .zw-only-copyright p,.i18n-ar .common-links ul.ZPprivacy,.i18n-ar .pricing-faq h2,.i18n-ar .product-block span.detail span,.i18n-ar h1.field-price-heading {
    text-align: center
}

.i18n-ar .common-links ul.ZPprivacy li:first-child {
    padding-left: 10px;
    border-right: 0
}

.i18n-ar .common-links ul.ZPprivacy li:last-child {
    padding-right: 10px;
    border-right: 1px solid #ccc
}

.i18n-ar .common-links ul.zdomainlink li {
    border-left: 0;
    border-right: 1px solid #ccc
}

.i18n-ar .common-links ul.zdomainlink li:first-child {
    border-right: 0
}

.i18n-ar .common-links .zlang-container-inner li:last-child {
    border-right: 0
}

.i18n-ar .footer-sec-wrap .product-links h4 {
    text-align: initial
}

.i18n-id .zlang-text:after,.i18n-ja .zlang-text:after {
    box-shadow: 0 0 0 .5px #d8d8d8
}

.lang-de .zlang-container .zlang-text::after {
    background-position: -110px 0
}

.zlang-container .zlang-text::after,.zlang-container-inner li a::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 16px;
    left: 0;
    background-size: 528px auto;
    background-position: 0 0
}

.zlang-container .zlang-text::after {
    top: 4px
}

.znewfooter .zlang-container .zlang-text::after {
    background-position: -22px 0
}

.znewfooter .ZF-support .zlang-text:before {
    border-top: 6px solid #fff
}

.hideglobalfooter .ZF-support,.hideglobalfooter .footer-search,.hideglobalfooter .ZPprivacy,.hideproductfooter .footer-sec-wrap {
    display: none
}

.zlang-container-inner li a[data-lang="fr"]::before,.lang-fr .zlang-container .zlang-text::after,.lang-fr .bigin-footer .zlang-container .zgh-localSelect::before,.lang-fr .znewfooter .zlang-container .zlang-text::after {
    background-position: -88px 0
}

.zlang-container-inner li a[data-lang="de"]::before,.lang-de .zlang-container .zlang-text::after,.lang-de .bigin-footer .zlang-container .zgh-localSelect::before,.lang-de .znewfooter .zlang-container .zlang-text::after {
    background-position: -110px 0
}

.zlang-container-inner li a[data-lang="pt-br"]::before,.lang-pt-br .zlang-container .zlang-text::after,.lang-pt-br .bigin-footer .zlang-container .zgh-localSelect::before,.lang-pt-br .znewfooter .zlang-container .zlang-text::after {
    background-position: -198px 0
}

.zlang-container-inner li a[data-lang="nl"]::before,.lang-nl .zlang-container .zlang-text::after,.lang-nl .bigin-footer .zlang-container .zgh-localSelect::before,.lang-nl .znewfooter .zlang-container .zlang-text::after {
    background-position: -242px 0
}

.zlang-container-inner li a[data-lang="id"]::before,.lang-id .zlang-container .zlang-text::after,.lang-id .bigin-footer .zlang-container .zgh-localSelect::before,.lang-id .znewfooter .zlang-container .zlang-text::after {
    background-position: -440px 0
}

.zlang-container-inner li a[data-lang="th"]::before,.lang-th .zlang-container .zlang-text::after,.lang-th .bigin-footer .zlang-container .zgh-localSelect::before,.lang-th .znewfooter .zlang-container .zlang-text::after {
    background-position: -418px 0
}

.zlang-container-inner li a[data-lang="jp"]::before,.lang-jp .zlang-container .zlang-text::after,.lang-jp .bigin-footer .zlang-container .zgh-localSelect::before,.lang-jp .znewfooter .zlang-container .zlang-text::after {
    background-position: -154px 0
}

.zlang-container-inner li a[data-lang="vi"]::before,.lang-vi .zlang-container .zlang-text::after,.lang-vi .bigin-footer .zlang-container .zgh-localSelect::before,.lang-vi .znewfooter .zlang-container .zlang-text::after {
    background-position: -352px 0
}

.zlang-container-inner li a[data-lang="it"]::before,.lang-it .zlang-container .zlang-text::after,.lang-it .bigin-footer .zlang-container .zgh-localSelect::before,.lang-it .znewfooter .zlang-container .zlang-text::after {
    background-position: -132px 0
}

.zlang-container-inner li a[data-lang="he"]::before,.lang-he .zlang-container .zlang-text::after,.lang-he .bigin-footer .zlang-container .zgh-localSelect::before,.lang-he .znewfooter .zlang-container .zlang-text::after {
    background-position: -484px 0
}

.zlang-container-inner li a[data-lang="ko"]::before,.lang-ko .zlang-container .zlang-text::after,.lang-ko .bigin-footer .zlang-container .zgh-localSelect::before,.lang-ko .znewfooter .zlang-container .zlang-text::after {
    background-position: -396px 0
}

.zlang-container-inner li a[data-lang="fr-ca"]::before,.lang-fr-ca .zlang-container .zlang-text::after,.lang-fr-ca .bigin-footer .zlang-container .zgh-localSelect::before,.lang-fr-ca .znewfooter .zlang-container .zlang-text::after {
    background-position: -462px -17px
}

.zlang-container-inner li a[data-lang="zh-hans"]::before,.lang-zh-hans .zlang-container .zlang-text::after,.lang-zh-hans .bigin-footer .zlang-container .zgh-localSelect::before,.lang-zh-hans .znewfooter .zlang-container .zlang-text::after {
    background-position: -220px 0
}

.lang-ko .zwf-dark-footer.zwf-new-footer .zwf-global-footer .zlang-container .zlang-text:after,.lang-ko .zwf-new-footer .zlang-container .zlang-text::after,.lang-ko .zwf-dark-footer.zwf-new-footer .zlang-container .zlang-text::after {
    background-position: -396px 0
}

.i18n-id .zlang-text:after,.i18n-ja .zlang-text:after,.i18n-ko .zlang-text:after,.zlang-container-inner li a[data-lang="ko"]::before,.zlang-container-inner li a[data-lang="jp"]::before,.zlang-container-inner li a[data-lang="id"]::before {
    box-shadow: 0 0 0 .5px #d8d8d8
}

.lang-rtl .zlang-container-inner li a::before,.lang-rtl .common-links .zlang-container .zlang-text::after {
    right: 10px;
    left: auto
}

.lang-rtl .zlang-container .zlang-text,.lang-rtl .footer-wrapper .zlang-container .zlang-text {
    padding: 5px 30px 5px 15px
}

.i18n-ar .zlang-container .zlang-container-inner li a::before,.i18n-he .zlang-container .zlang-container-inner li a::before {
    right: 0;
    left: auto
}

.i18n-he .common-links .zdc-text:before,.i18n-he .common-links .zlang-text:before {
    left: 0;
    right: auto
}

.r-g-f .zw-global-footer {
    display: none
}

.lang-rtl li.zf-support-mail {
    direction: ltr
}

.lang-rtl .ZF-support .zf-multi-support-mail ul li.zf-support-mail a {
    padding: 0
}

body.i18n-he .common-links ul li:first-child {
    padding-left: 30px
}

body.i18n-he .ZF-contact>ul>li:before {
    float: none;
    margin: 0
}

@media screen and (max-width: 1400px) {
    .footer-sec-wrap.two-column.fourColList .content-wrap>div {
        width:100%;
        display: block
    }

    .footer-sec-wrap.two-column.fourColList .footer-links-wrap {
        padding: 0 30px
    }

    .footer-sec-wrap.fourColList .promo-section-wrap {
        padding: 0 0 50px
    }

    .footer-sec-wrap .customer-stories {
        max-width: 100%;
        width: 100%
    }

    .footer-sec-wrap .customer-stories>a {
        max-width: 350px;
        display: inline-block;
        width: 100%
    }

    .fourColList .customer-stories a+a {
        margin-left: 20px;
        margin-top: 0
    }

    .footer-sec-wrap.two-column.fourColList {
        padding: 60px 0
    }
}

@media only screen and (max-width: 1023px) {
    .footer-sec-wrap .content-wrap {
        padding:30px 0
    }

    .footer-sec-wrap .product-links ul+h4,.footer-sec-wrap .product-links h4 {
        margin: 20px 0 10px
    }

    .footer-sec-wrap.two-column .content-wrap {
        width: 100%
    }

    .footer-sec-wrap.two-column .product-links.four-column>div,.footer-sec-wrap .product-links.two-column>div,.footer-sec-wrap .product-links.three-column>div,.footer-sec-wrap .product-links.four-column>div {
        flex: 0 0 100%;
        max-width: 100%
    }

    .footer-sec-wrap.two-column .promo-section-wrap {
        display: block;
        width: 100%;
        padding: 0 0 30px
    }

    .footer-sec-wrap.two-column .content-wrap .footer-links-wrap {
        padding: 0 30px;
        width: 100%
    }

    .footer-sec-wrap .product-links>div {
        display: block;
        overflow: hidden
    }

    .footer-sec-wrap .product-links ul li {
        display: inline-block;
        margin: 10px 35px 10px 0
    }

    .footer-sec-wrap .product-links.one-column ul li {
        margin: 0
    }

    .footer-sec-wrap.two-column .common-links:before {
        width: 100%
    }

    .footer-sec-wrap.two-column {
        padding: 50px 0
    }

    .common-links ul.ZPprivacy li {
        font-size: 11px
    }

    .zw-only-copyright p {
        padding: 0 10px
    }

    .customer-stories a+a {
        margin-left: 20px;
        margin-top: 0
    }

    .i18n-ar .footer-sec-wrap .product-links ul li {
        margin: 10px 0 10px 35px
    }

    .i18n-ar .footer-sec-wrap .product-links ul.zft-social-icons li {
        margin-left: 8px;
        margin-right: 0
    }

    .r-g-f .zw-only-copyright .content-wrap {
        display: block
    }

    .r-g-f .zw-only-copyright p {
        text-align: center
    }

    .zw-only-copyright ul {
        margin-bottom: 15px;
        flex-wrap: wrap
    }
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
    .common-links:before,.footer-sec-wrap.two-column .common-links:before {
        width:100%
    }

    .common-links ul {
        margin-bottom: 5px
    }

    .footer-sec-wrap.two-column .common-links ul.ZPprivacy li {
        margin-bottom: 10px
    }

    .common-links ul.ZPprivacy li {
        font-size: 11px;
        padding: 0 8px
    }

    .footer-sec-wrap .ZF-support .ZF-contact>ul>li {
        margin-bottom: 0
    }
}

@media only screen and (max-width: 767px) {
    .zlang-container .zlang-container-inner ul li a {
        color:#000
    }

    .zlang-container {
        bottom: auto;
        left: auto;
        position: relative;
        right: auto;
        max-width: 150px
    }

    .zlang-container ul::after,.zlang-container ul::before {
        left: 49%
    }

    .zlang-container .zlang-container-inner {
        left: 0
    }

    .common-links .zlang-container a {
        color: #03a9f5
    }

    .zlang-container ul li {
        text-align: left
    }

    .zlang-container .zlang-container-inner {
        right: 0;
        left: inherit
    }

    .zlang-container ul:before {
        left: inherit
    }

    .zlang-container ul:after {
        left: inherit
    }

    .common-footer li {
        border-left: 0
    }

    .common-links ul {
        margin: 0 auto;
        width: 100%
    }

    .common-links .ZPprivacy {
        padding-top: 30px
    }

    .common-links ul.ZPprivacy li {
        margin: 0 5px 10px;
        font-size: 11px
    }

    .common-links ul.ZPprivacy li:first-child {
        padding-left: 10px
    }

    .common-links .ZPprivacy li {
        font-size: 11px;
        border-right: 1px solid #ccc;
        margin: 0 5px 10px
    }

    .zw-only-copyright p {
        padding: 0 10px
    }

    .global-f-none .zgf-wrapper,.zgf-wrapper {
        padding: 20px 20px 50px
    }

    .footer-sec-wrap .customer-stories {
        max-width: 375px;
        padding: 0 15px
    }

    .customer-stories a+a,.fourColList .customer-stories a+a {
        margin-left: 0;
        margin-top: 20px
    }

    .footer-sec-wrap.two-column .content-wrap {
        width: 100%
    }

    .footer-sec-wrap.two-column .content-wrap>div {
        display: block;
        width: 100%
    }

    .footer-sec-wrap .product-links>div {
        display: block;
        overflow: hidden
    }

    .footer-sec-wrap .product-links.one-column ul li {
        margin: 0
    }

    .footer-sec-wrap.two-column .common-links {
        text-align: center;
        padding-top: 20px
    }

    .footer-sec-wrap.two-column .common-links:before {
        width: 100%
    }

    .footer-search {
        margin: 30px auto 0
    }

    .ZF-support {
        border-top: 1px solid #eaeaea
    }

    .ZF-container {
        width: 100%;
        padding: 0
    }

    .ZF-container {
        padding: 10px 20px 10px
    }

    .ZF-contact>ul>li {
        font-size: 15px
    }

    .ZF-support .ZF-dlsel {
        text-align: left
    }

    .zw-only-copyright p {
        font-size: 10px
    }

    .footer-sec-wrap .product-links ul.zft-social-icons li {
        margin-right: 12px
    }

    .r-g-f .zw-only-copyright+.zsocial-share {
        border: 0;
        padding: 0 0 10px
    }

    .r-g-f:not(.zw-template-zp_signup) .zw-only-copyright {
        padding-left: 12px;
        padding-right: 12px
    }

    .zw-only-copyright {
        padding: 20px 0 70px
    }

    .zf-multi-support-mail ul .zglob-lang {
        border-top: 1px solid #eaeaea
    }

    .ZF-container.zf-multi-support-mail {
        padding: 0
    }

    .zf-multi-support-mail ul li.zf-support-mail {
        display: block;
        text-align: left;
        margin-left: 10px;
        padding: 15px 10px 15px 30px
    }

    .zf-multi-support-mail .zlang-container-inner {
        left: 0
    }

    .zf-multi-support-mail .zlang-container-inner ul:before,.zf-multi-support-mail .zlang-container-inner ul:after {
        left: 20px;
        right: auto
    }

    .ZF-container.zf-multi-support-mail .ZF-contact ul li.zf-support-mail a:first-child {
        margin-bottom: 10px
    }

    .zf-multi-support-mail ul li.zglob-lang {
        display: block;
        padding: 10px 10px
    }

    .lang-rtl .zf-multi-support-mail li.zf-support-mail a {
        display: block
    }

    .i18n-ar .zf-multi-support-mail .zlang-container-inner {
        right: 0;
        left: auto
    }

    .i18n-ar .zf-multi-support-mail .zlang-container-inner ul:before,.i18n-ar .zf-multi-support-mail .zlang-container-inner ul:after {
        left: auto;
        right: 30px
    }
}

@media screen and (max-width: 480px) {
    .footer-sec-wrap .product-links {
        display:block
    }

    .footer-sec-wrap .product-links ul+h4,.footer-sec-wrap .product-links h4 {
        margin: 0
    }

    .ZF-support {
        border-top: 0
    }

    .ZF-support .ZF-contact>ul {
        display: block
    }

    .ZF-container {
        padding: 0
    }

    .ZF-contact>ul {
        text-align: left
    }

    .ZF-contact>ul>li {
        display: block
    }

    .lang-rtl li.zf-support-mail {
        display: table
    }

    .ZF-support ul li.zf-support-mail {
        padding: 15px 12px 15px 30px;
        margin-left: 20px
    }

    .ZF-contact ul li.zf-support-mail a {
        font-size: 14px;
        display: block
    }

    .ZF-contact ul li.zglob-lang {
        padding: 8px 20px 8px 20px;
        border-top: 1px solid #eaeaea
    }

    .common-footer li {
        width: 100%;
        padding: 5px 0
    }

    .footer-sec-wrap {
        background: transparent
    }

    .footer-sec-wrap.two-column .promo-section-wrap {
        padding: 50px 0
    }

    .footer-sec-wrap.two-column,.footer-sec-wrap.two-column.fourColList {
        padding: 0
    }

    .footer-sec-wrap .product-links ul li {
        display: block;
        margin: 0
    }

    .footer-sec-wrap .product-links.one-column ul {
        display: block
    }

    .footer-sec-wrap .product-links.one-column ul li {
        display: block;
        text-align: left;
        padding: 0
    }

    .footer-sec-wrap .product-links.one-column div:first-child h4 {
        display: block
    }

    .footer-sec-wrap .content-wrap {
        padding: 0;
        width: 100%
    }

    .footer-sec-wrap.two-column .content-wrap .footer-links-wrap {
        margin: 0 auto;
        padding: 0;
        width: 100%
    }

    .footer-sec-wrap .footer-links-wrap,.footer-sec-wrap .product-links>div {
        padding: 0
    }

    .footer-sec-wrap .product-links h4 {
        cursor: pointer;
        position: relative;
        margin: 0;
        padding: 15px 20px;
        background: #fafafa;
        border-bottom: 1px solid #efefef;
        font-size: 13px
    }

    .footer-sec-wrap .product-links h4:after {
        content: "";
        border: solid #000;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3.5px;
        position: absolute;
        right: 30px;
        top: 18px;
        transform: rotate(45deg);
        transition: all .3s ease
    }

    .footer-sec-wrap .product-links h4.active:after {
        transform: rotate(-135deg);
        top: 23px
    }

    .footer-sec-wrap .product-links ul {
        padding: 0 20px;
        display: none
    }

    .footer-sec-wrap .product-links ul.zft-social-icons {
        padding: 10px 20px;
        display: flex;
        justify-content: flex-start
    }

    .footer-sec-wrap .product-links ul li a {
        line-height: 30px
    }

    .footer-sec-wrap .common-links,.footer-sec-wrap.two-column .common-links {
        margin-top: 0;
        padding: 10px 0
    }

    .common-links:before,.footer-sec-wrap .common-links ul,.footer-sec-wrap .on-social,.common-links.czonefooter>.ZPprivacy,.common-links>.ZPprivacy {
        display: none
    }

    .zw-only-copyright p {
        font-size: 9px;
        padding: 10px 0;
        margin: 0
    }

    .zlang-container .zlang-container-inner {
        width: 220px;
        bottom: 25px;
        right: inherit;
        left: 0
    }

    .zlang-container ul {
        padding: 20px 25px 20px 25px
    }

    .zlang-container ul:before {
        left: 25px;
        right: inherit
    }

    .zlang-container ul:after {
        left: 27px;
        right: inherit
    }

    .zlang-container ul li {
        width: 100%;
        padding-right: 0
    }

    .apps-download-links-wrap {
        margin-bottom: 10px
    }

    .ZF-container.zf-multi-support-mail .ZF-contact ul li.zf-support-mail a:last-child:before {
        content: none
    }

    .other-lang .footer-sec-wrap {
        display: block
    }

    .other-lang .footer-sec-wrap.two-column .content-wrap>div.promo-section-wrap,.other-lang .footer-links-wrap .product-links [class ^="footer"]:not(.footer-terms,.footer-privacy) {
        display: none
    }

    .i18n-ar .ZF-support .ZF-dlsel {
        text-align: right
    }

    .zpf-zlang-inner,.i18n-ar .zpf-zlang-inner {
        width: 210px
    }

    .i18n-ar .footer-sec-wrap .product-links h4:after {
        right: unset;
        left: 30px
    }

    .i18n-ar .zlang-container .zlang-container-inner {
        left: inherit
    }

    .i18n-ar .zlang-container ul:before {
        right: 14px;
        left: inherit
    }

    .i18n-ar .zlang-container ul:after {
        right: 16px;
        left: inherit
    }

    .lang-rtl .ZF-support .zf-multi-support-mail ul li.zf-support-mail a {
        display: block
    }

    .lang-rtl .zf-multi-support-mail .ZF-contact ul li.zf-support-mail a:first-child:after {
        direction: ltr
    }

    .lang-rtl .ZF-support .zf-multi-support-mail ul li.zf-support-mail a {
        max-width: 100%
    }

    .lang-rtl .zf-multi-support-mail li.zf-support-mail {
        display: table;
        margin: 10px 10px 10px 0
    }
}

@media screen and (max-width: 414px) {
    .common-footer p {
        max-width:200px
    }
}

@media print {
    .footer-wrapper {
        display: none
    }
}