h1,h2,h3,h4 {
    font-family: var(--zf-primary-bold)
}

h5,h6 {
    font-family: var(--zf-primary-semibold)
}

body:not(.umain) .not-for-unauth {
    display: none
}

.quick-connect-links-wrap>.show-links-btn {
    background: var(--zwc-link-clr)
}

@media only screen and (min-width: 767px) {
    .menu li ul.twoCol-sec {
        display:grid;
        grid-template-columns: repeat(2,minmax(200px,auto));
        padding: 0;
        gap: 0
    }

    .menu li ul.twoCol-sec-parent ul {
        min-height: fit-content !important
    }

    .menu li ul.twoCol-sec li a {
        padding: 7px 20px;
        font-size: 15px;
        white-space: normal;
        line-height: 25px
    }

    .menu li ul.twoCol-sec h5 {
        margin: 0 0 5px 0;
        font-size: 13px;
        font-family: var(--zf-secondary-bold)
    }

    .menu li ul.twoCol-sec li.zwc-zmenu-submenu-list {
        padding: 20px 0
    }

    .menu li ul.twoCol-sec li.zwc-zmenu-submenu-list>div ul {
        min-height: auto !important
    }

    .zw-product-header .menu li ul.twoCol-sec li.zwc-zmenu-submenu-list>div ul {
        min-height: auto !important
    }

    .menu li ul.twoCol-sec li.zwc-zmenu-submenu-list>div+div {
        margin-top: 10px
    }

    .menuColTitle {
        margin: 0 0 5px 0;
        font-size: 15px;
        font-family: var(--zf-secondary-bold);
        padding: 0 20px;
        display: block;
        color: #000
    }

    .menu li ul.twoCol-sec li.zwc-zmenu-submenu-list {
        position: relative
    }

    .menu li ul.twoCol-sec li.zwc-zmenu-submenu-list+li.zwc-zmenu-submenu-list:before {
        content: "";
        width: 1px;
        height: 100%;
        background: #dbe1e8;
        display: block;
        position: absolute;
        left: -1px;
        top: 0;
        pointer-events: none
    }

    .menu li ul.twoCol-sec li.zwc-zmenu-submenu-list li.sub-level .submenu-dd {
        position: absolute;
        top: 0;
        left: calc(100% + 0px);
        background: #fff;
        border-bottom: 0;
        border-radius: 0 2px 2px;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        height: 100%;
        padding: 20px 0;
        width: 200px
    }

    .menu li ul.twoCol-sec li.zwc-zmenu-submenu-list li.sub-level.is-active .submenu-dd {
        opacity: 1;
        visibility: visible
    }

    .menu li ul.twoCol-sec li.zwc-zmenu-submenu-list ul>li:hover>a,.menu li ul.twoCol-sec li.zwc-zmenu-submenu-list ul>li:hover .dropdown-toggle {
        color: #03a9f5;
        background: #fafafa
    }

    .menu li ul.twoCol-sec-bottom-btn li.zmenu-dropdown-all a {
        margin-top: 20px
    }

    .menu li ul.twoCol-sec-bottom-btn li.zmenu-dropdown-all {
        display: grid;
        background: #f4f8ff;
        padding: 0 80px
    }
}

@media only screen and (min-width: 991px) {
    .menu li ul.twoCol-sec h5 {
        font-size:15px
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .menu li ul.twoCol-sec li a {
        font-size:13px
    }
}

@media only screen and (min-width: 1200px) {
    body:not(.lang-jp,.lang-zh-hant,.lang-de) .quick-connect-links-wrap {
        display:block
    }
}

@media only screen and (max-width: 767px) {
    .zmobile-menu-new ul.twoCol-sec .menuColTitle {
        font-size:13px;
        padding: 7px 0 7px 12px;
        white-space: initial;
        font-family: var(--zf-secondary-bold);
        margin: 0
    }

    .zmobile-menu-new ul.twoCol-sec {
        padding: 0
    }

    .zmobile-menu-new ul.twoCol-sec li.zwc-zmenu-submenu-list>div ul {
        padding: 0
    }

    .zmobile-menu-new ul.twoCol-sec-parent ul {
        padding: 0
    }

    .zmobile-menu-new ul.twoCol-sec li.zwc-zmenu-submenu-list {
        padding: 0
    }

    .zmobile-menu-new ul.twoCol-sec li a {
        font-size: 13px;
        padding: 7px 0 7px 12px;
        white-space: initial
    }

    .zmobile-menu-new ul.twoCol-sec li>.submenu-dd li:not(.zmenu-dropdown-all) a:before {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 3px;
        background: #000;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -10px;
        margin: auto
    }

    .zmobile-menu-new ul.twoCol-sec li.zwc-zmenu-submenu-list>div ul .submenu-dd ul {
        padding: 0 0 0 30px
    }

    .zmobile-menu-new ul.twoCol-sec .submenu-dd .menuColTitle {
        display: none
    }
}

.zw-other-products .op-teaminbox .zw-op-box:after {
    background-position: var(--zp-teaminbox-bp)
}

.zw-other-products .op-toolkit .zw-op-box:after {
    background-position: var(--zp-toolkit-bp)
}

.zw-other-products .op-zeptomail .zw-op-box:after {
    background-position: var(--zp-zeptomail-bp)
}

.zw-other-products .op-workplace .zw-op-box:after {
    background-position: var(--zp-workplace-bp)
}

.zw-promo-banner-block img {
    border: 1px solid #e2e2e2
}

.body-umain .quick-connect-links-wrap li:last-child {
    display: none
}

.body-umain .quick-connect-links ul li:nth-last-child(-n+2) {
    border-bottom: 0
}

.zpricegroup-common em {
    font-style: normal
}

.customer-stories img {
    border: 1px solid #e2e2e2
}

.customer-stories .footer-video {
    display: inline-block;
    vertical-align: super
}

.customer-stories video {
    width: 100%
}

@media screen and (min-width: 1401px) {
    .footer-sec-wrap.two-column .promo-section-wrap {
        flex-direction:column;
        padding-top: 90px
    }
}

.menu .dropdown-menu li a .new-badge,.zmobile-menu-new ul li .dropdown-menu a .new-badge {
    background: #fef07d;
    color: #f44336;
    font-size: 65%;
    padding: 1px 3px 1px 3px;
    line-height: 12px;
    font-family: var(--zf-secondary-medium);
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px
}

.dropdown-menu .sub-dropdown li.zmenu-dropdown-all a:hover {
    border-color: #03a9f5;
    background: #fff;
    color: #03a9f5
}

.dropdown-menu .sub-dropdown li.zmenu-dropdown-all:before {
    display: none
}

body:not(.i18n-en).zw-template-zp_help_detail_pages .banner-wrap {
    opacity: 0;
    visibility: hidden
}

body:not(.i18n-en).zw-template-zp_help_detail_pages .search-wrap {
    padding: 10px !important
}

.zwc_t_breadcrumb {
    display: none
}

.zwc_t_breadcrumb ul {
    list-style-type: none;
    max-width: 1280px;
    margin: 0 auto;
    width: 90%;
    padding: 30px 0 0;
    text-align: left;
    line-height: 24px
}

.zwc_t_breadcrumb ul li {
    display: inline-block;
    margin: 0 25px 0 0;
    color: #000;
    text-transform: uppercase;
    position: relative;
    z-index: 2
}

.zwc_t_breadcrumb ul li:last-child {
    margin-right: 0
}

.zwc_t_breadcrumb ul li a {
    color: #00000096;
    position: relative;
    display: inline-block;
    transition: none
}

.zwc_t_breadcrumb ul li,.zwc_t_breadcrumb ul li a {
    font: 11px/1.2 var(--zf-primary-semibold)
}

.zwc_t_breadcrumb ul li a:before {
    content: ">";
    position: absolute;
    right: -15px;
    display: inline-block;
    color: #000
}

.zwc_t_breadcrumb ul li a:after {
    content: '';
    display: block;
    position: absolute;
    left: auto;
    right: 0;
    bottom: -4px;
    height: 1px;
    width: 0;
    background: #000;
    transition: width .2s linear
}

.zwc_t_breadcrumb ul li a:hover:after {
    width: 100%;
    left: 0;
    right: auto
}

.zwc_t_breadcrumb.zwc_breadcrumb_dark ul li a {
    color: #ffffff96
}

.zwc_t_breadcrumb.zwc_breadcrumb_dark ul li,.zwc_t_breadcrumb.zwc_breadcrumb_dark ul li a:before {
    color: #fff
}

.zwc_t_breadcrumb.zwc_breadcrumb_dark ul li a:after {
    background: #fff
}

@media only screen and (min-width: 768px) {
    .i18n-en .zwc_t_breadcrumb {
        display:block
    }
}

@media only screen and (max-width: 1199px) {
    .zwc_t_breadcrumb ul {
        width:95%
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .zwc_t_breadcrumb ul {
        width:97%
    }
}

.getquote-box,.getquote-box * {
    box-sizing: border-box
}

.getquote-box .rd-demoButton,.multi-sales-btn {
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease,visibility .2s ease;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: var(--zwc-link-clr);
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    height: 40px;
    line-height: 40px !important;
    padding: 0 35px 0 20px;
    z-index: 99;
    text-transform: uppercase;
    font-family: var(--zf-primary-semibold);
    border-radius: 5px;
    border: 0
}

.getquote-box a {
    color: var(--zwc-link-clr)
}

.getquote-box .rd-demoButton:after,.multi-sales-btn:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 18px;
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-left: 0;
    border-bottom: 0;
    pointer-events: none;
    transform: rotate(-45deg)
}

.getquote-box .fieldset {
    margin-bottom: 20px
}

.getquote-box .success-alert {
    display: none;
    margin: 0 auto 0;
    height: 42px;
    position: fixed;
    z-index: 999999;
    width: 100%;
    left: 0;
    top: 0;
    right: 0
}

.getquote-box .scs-pop-inr {
    padding: 12px 20px;
    position: relative;
    max-width: 460px;
    margin: 0 auto;
    background: #40bd60;
    width: 100%;
    opacity: 0
}

.getquote-box .scs-pop-inr.animate {
    animation: bounceIn .8s forwards;
    -webiki-animation: bounceIn .8s forwards
}

@keyframes bounceIn {
    0%,20%,40%,60%,80%,100% {
        -webkit-animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
        animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    20% {
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }

    40% {
        -webkit-transform: scale3d(.9,.9,.9);
        transform: scale3d(.9,.9,.9)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03,1.03,1.03);
        transform: scale3d(1.03,1.03,1.03)
    }

    80% {
        -webkit-transform: scale3d(.97,.97,.97);
        transform: scale3d(.97,.97,.97)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

.getquote-box .success-alert .scs-txt {
    font-size: 13px;
    display: block;
    text-align: center;
    font-family: var(--zf-primary-regular);
    color: #fff
}

.getquote-box .success-alert .close-icn {
    font-size: 12px;
    cursor: pointer;
    color: #fff;
    font-family: var(--zf-primary-regular);
    position: absolute;
    top: 5px;
    right: 12px
}

.getquote-box .formSec {
    width: 100%;
    overflow: auto;
    max-width: 412px;
    position: fixed;
    transform: translateX(120%);
    -webkit-transform: translateX(120%);
    right: 0;
    top: 0;
    z-index: 0;
    -webkit-box-shadow: -7px 0 28px 0 rgba(0,0,0,0.46);
    -moz-box-shadow: -7px 0 28px 0 rgba(0,0,0,0.46);
    box-shadow: -7px 0 28px 0 rgba(0,0,0,0.46);
    height: 100%;
    background: #fff;
    opacity: 0
}

.getquote-box .formSec.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    z-index: 9999999999999;
    opacity: 1
}

.getquote-box .formInner {
    border-left: 1px solid #ddd;
    padding: 35px 55px 45px 44px;
    background: #fff;
    height: auto;
    text-align: left
}

.getquote-box .form-close {
    background: url('//www.zohowebstatic.com/sites/zweb/images/mail/images/close-icon.png') no-repeat;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    background-size: 17px;
    opacity: .6
}

.getquote-box .formInner input[type="text"]::placeholder,.getquote-box .formInner textarea::placeholder {
    color: #636363
}

.getquote-box .formInner input[type="text"] {
    border: 1px solid #e3e3e3;
    font-size: 13px;
    height: 38px;
    padding: 0 8px;
    width: 100%;
    outline: 0;
    margin-left: unset !important;
    color: #000
}

.getquote-box .formInner textarea {
    border: 1px solid #d4d4d4;
    font: inherit;
    font-size: 13px;
    padding: 5px 8px;
    height: 50px;
    width: 100%;
    max-width: 285px;
    resize: none;
    margin-left: unset !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #000
}

.getquote-box .formInner .zgdprform-countrylist-container {
    max-width: unset !important;
    width: unset !important;
    margin-left: unset !important;
    height: unset !important;
    margin-bottom: 20px !important
}

.getquote-box .formInner .zgdprform-countrylist-container select.globalcountrycode {
    height: 40px !important
}

.getquote-box div.zgdprform-state-container select::-ms-expand,.getquote-box div.zgdprform-countrylist-container select::-ms-expand,.getquote-box .formInner select::-ms-expand {
    display: none
}

.getquote-box .select-box {
    position: relative
}

.getquote-box .select-box:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666;
    position: absolute;
    right: 8px;
    top: 20px;
    margin-top: -3px;
    border-radius: 6px
}

.getquote-box .formInner select {
    border: 1px solid #e2e2e2;
    font-size: 13px;
    height: 38px;
    width: 100%;
    background: 0;
    color: #000 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 10px
}

.getquote-box .sign_agree {
    color: #000;
    font-size: 11px;
    line-height: 20px;
    margin-top: 0;
    padding-bottom: 10px;
    width: 100%;
    text-align: left;
    font-family: var(--zf-primary-semibold),Arial,Helvetica,sans-serif;
    margin: 0 auto
}

.getquote-box div.zgdprform-opt-container,.getquote-box p.zgdprform-opt-container {
    clear: both;
    text-align: left;
    padding-left: 18px;
    font-size: 11px;
    line-height: 1.3;
    position: relative;
    margin-bottom: 30px
}

.getquote-box .zgdprform-opt-container input.chk_bx {
    appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
    position: absolute !important;
    left: 0 !important;
    top: 2px !important;
    margin: 0 !important;
    width: auto !important;
    height: auto !important
}

.getquote-box .submit-btn {
    background: #f0483e;
    border: 1px solid #f0483e;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 500ms ease 0s;
    font-family: var(--zf-primary-semibold);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: unset;
    margin-left: unset !important
}

.getquote-box .freeze_layer {
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: none
}

.getquote-box .active_freaze {
    display: block
}

.getquote-box .zoverlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,0.5);
    display: none
}

.getquote-box .zsubmit {
    text-align: center
}

.getquote-box .formInner input[type="submit"],.getquote-box .formInner button[type="submit"] {
    background: #f0483e;
    border: 1px solid #f0483e;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 40px;
    height: 45px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: var(--primaryfont-semibold);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none
}

.getquote-box .formInner button:disabled {
    cursor: not-allowed
}

.getquote-box .zgdprform-state-container.zshow-common {
    margin-bottom: 30px !important
}

.getquote-box div.zgdprform-state-container::after,.getquote-box div.zgdprform-countrylist-container::after {
    right: 10px
}

.getquote-box label.error {
    display: block;
    color: red;
    font-size: 11px;
    float: none
}

.getquote-box .formInner .progress-loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #f0483e;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    display: none
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.fieldset.zsf-radio-group {
    position: relative
}

.fieldset .zsf-radio-label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px
}

.fieldset .zsf-radio-wrap>span {
    display: inline-block;
    margin: 0 10px 0 0
}

.fieldset .zsf-radio-wrap>span input {
    margin: 0 5px 0 0
}

.fieldset .zsf-radio-wrap>span label {
    font-size: 13px;
    vertical-align: text-top
}

@media screen and (min-width: 768px) {
    .sWidget-is-visible .zsiq_floatmain {
        transform:translate(0,-55px)
    }
}

@media screen and (max-width: 767px) {
    .getquote-box .rd-demoButton,.multi-sales-btn {
        display:none
    }
}

@media screen and (max-width: 380px) {
    .getquote-box .formInner textarea {
        max-width:93%
    }

    .getquote-box .success-alert .scs-txt {
        font-size: 10px
    }

    .getquote-box .success-alert {
        width: 90%
    }
}

.i18n-ar .getquote-box .rd-demoButton,.i18n-ar .multi-sales-btn {
    left: 10px;
    right: inherit
}

.i18n-ar .getquote-box .formSec {
    transform: translateX(-120%);
    -webkit-transform: translateX(-120%)
}

.i18n-ar .getquote-box .formSec.active {
    transform: translateX(0);
    -webkit-transform: translateX(0)
}

.i18n-ar .getquote-box .formSec {
    left: 0;
    right: inherit
}

.i18n-ar .getquote-box .form-close {
    left: 20px;
    right: inherit
}

.i18n-ar .getquote-box div.zgdprform-opt-container,.i18n-ar .getquote-box p.zgdprform-opt-container {
    padding-left: 0;
    padding-right: 18px;
    text-align: right
}

.i18n-ar .getquote-box .select-box:after,.i18n-ar .getquote-box div.zgdprform-state-container:after,.i18n-ar .getquote-box div.zgdprform-countrylist-container:after {
    left: 10px;
    right: inherit
}

.i18n-ar .getquote-box .sign_agree p {
    text-align: right !important
}

.i18n-ar .getquote-box .zgdprform-opt-container input.chk_bx {
    left: inherit !important;
    right: 0 !important
}

.dc-based-hide {
    display: none
}

.otp-phone-input-wrap .send-otp {
    position: absolute;
    right: 8px;
    top: 50%;
    z-index: 1;
    font-family: var(--primaryfont-semibold);
    font-size: 13px;
    line-height: 1.6;
    margin: auto;
    color: var(--zwc-link-clr);
    cursor: pointer;
    transform: translateY(-50%);
    display: none
}

.resend-otp .send-otp {
    color: var(--zwc-link-clr);
    cursor: pointer
}

.zf-otp-info {
    font-size: 12px;
    margin-top: 5px;
    color: #000;
    font-family: var(--primaryfont-semibold);
    margin-bottom: 0
}

#zc-sending-otp {
    font-family: var(--primaryfont-semibold);
    font-size: 12px;
    margin-top: 5px;
    align-items: center;
    display: none
}

#zc-sending-otp img {
    width: 20px;
    height: 20px;
    margin-right: 5px
}

#otpverify {
    margin-top: 10px
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

.otp-phone-input-wrap #zcf_phone-otp,#otpverify {
    appearance: textfield
}

@-moz-document url-prefix() {
    input[type=number] {
        -moz-appearance: textfield
    }
}

.otp-phone-input-wrap {
    position: relative
}

.otpverify-wrap {
    position: relative
}

.otpverify-wrap .verify-otp {
    position: absolute;
    right: 8px;
    top: 20px;
    z-index: 1;
    font-family: var(--primaryfont-semibold);
    font-size: 12px;
    display: none;
    color: var(--zwc-link-clr)
}

.otpverify-wrap .mn-otp {
    font-family: var(--primaryfont-semibold);
    font-size: 12px;
    display: none;
    text-align: left;
    margin-top: 5px
}

#otpverify {
    padding-right: 125px
}

.verify-err-msg {
    display: block;
    color: red;
    font-size: 11px;
    float: none
}

.otp-phone-input-wrap .otp-num-edit {
    position: absolute;
    right: 8px;
    top: 54%;
    z-index: 1;
    font-family: var(--primaryfont-semibold);
    font-size: 13px;
    line-height: 1.6;
    margin: auto;
    color: var(--zwc-link-clr);
    cursor: pointer;
    transform: translateY(-50%);
    display: none
}

.getquote-box .fieldset .otp-conform-message {
    font-size: 11px;
    display: none;
    line-height: 1.3;
    color: red;
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    text-align: left
}

.getquote-box .fieldset .otp-verifyed-message {
    display: none;
    color: green;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 20px;
    z-index: 1;
    font-family: var(--primaryfont-semibold);
    font-size: 12px
}

.getquote-box .formInner .otp-number-wrap .za_country_code_ext {
    position: absolute;
    opacity: 0;
    width: 70px;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px 10px;
    line-height: 25px;
    background: #fff;
    text-indent: -99999px;
    cursor: pointer;
    min-height: 40px;
    z-index: 2
}

.getquote-box .fieldset #countryCodeDiv {
    position: absolute;
    padding: 8px 0 9px 10px;
    background: #fff;
    width: 70px;
    border-right: 1px solid #d5d5d5;
    font-size: 13px;
    height: 36px;
    line-height: 20px;
    top: 1px;
    left: 1px;
    z-index: 2;
    pointer-events: none
}

.getquote-box .fieldset #countryCodeDiv:before {
    position: absolute;
    content: '';
    right: 5px;
    top: 14px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666;
    border-radius: 2px
}

.fieldset.otp-number-wrap {
    position: relative
}

.otp-phone-input-wrap #zcf_phone-otp {
    padding-left: 80px;
    margin-top: 0;
    padding-right: 90px
}

.f-badge {
    display: inline-block;
    height: 106px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
    position: relative
}

.f-badge1 {
    width: 92px;
    background-image: url('//www.zohowebstatic.com/sites/zweb/images/otherbrandlogos/g2-leader-winter-2023.png')
}

.f-badge2 {
    width: 74px;
    background-image: url('//www.zohowebstatic.com/sites/zweb/images/otherbrandlogos/forbes-advisor-best-email-hosting-services-2021.png')
}

.f-badge3 {
    width: 70px;
    background-image: url('//www.zohowebstatic.com/sites/zweb/images/otherbrandlogos/vb-verified-spam.png')
}

.f-badge a {
    display: block !important;
    height: 100%;
    margin: 0 !important
}

.ra-olider-badge {
    width: 70px;
    background-image: url('//www.zohowebstatic.com/sites/zweb/images/otherbrandlogos/ra-olider-em-email-corporativo.png')
}

.software-advice-badge {
    width: 75px;
    background-image: url('//www.zohowebstatic.com/sites/zweb/images/otherbrandlogos/software-advice-most-recommended-2024.png')
}

.capterra-best-badge {
    width: 75px;
    background-image: url('//www.zohowebstatic.com/sites/zweb/images/otherbrandlogos/capterra-best-ease-of-use-2024.png')
}

.getapp-leader-badge {
    width: 90px;
    background-image: url('//www.zohowebstatic.com/sites/zweb/images/otherbrandlogos/getapp-category-leaders-2024.png')
}

@media screen and (max-width: 480px) {
    .f-badge {
        height:88px
    }

    .f-badge1 {
        width: 78px
    }

    .f-badge2 {
        width: 60px
    }

    .f-badge3 {
        width: 58px
    }
}

.zm-howto-banner .zm-htbtm-banner {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    overflow: hidden;
    box-shadow: -4px 4px 20px 4px rgba(0,0,0,0.1);
    z-index: 999;
    transform: translateY(150%);
    transition: transform .5s ease
}

.zm-howto-banner .zm-htbtm-banner.active {
    transform: translateY(0)
}

.zm-howto-banner .zm-htbtm-banner a {
    display: block
}

.zm-howto-banner .zm-htbtm-close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    opacity: 1;
    background: #545454;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
    text-indent: -9999px
}

.zm-howto-banner .zm-htbtm-close:before,.zm-howto-banner .zm-htbtm-close:after {
    position: absolute;
    left: 11px;
    content: ' ';
    height: 10px;
    width: 2px;
    background: #fff;
    top: 5px;
    left: 9px
}

.zm-howto-banner .zm-htbtm-close:after {
    transform: rotate(-45deg)
}

.zm-howto-banner .zm-htbtm-close:before {
    transform: rotate(45deg)
}

@media only screen and (max-width: 767px) {
    .zm-howto-banner .zm-htbtm-banner {
        display:none
    }
}

.wp-disclaimer-section {
    text-align: center;
    background: #fff;
    border-top: 1px solid #eaeaea
}

.wp-disclaimer-section p {
    margin: 40px auto;
    font-size: 14px;
    padding: 0 30px;
    text-align: center
}

@media only screen and (max-width: 767px) {
    .wp-disclaimer-section p {
        margin:20px auto;
        font-size: 13px;
        padding: 0 15px
    }
}

@media only screen and (max-width: 480px) {
    .wp-disclaimer-section p {
        padding:0 5px
    }
}

@media only screen and (max-width: 767px) {
}

@media screen and (max-width: 480px) {
}

.zpromotion.zw-strip-band {
    background: #f6c60a url('//www.zohowebstatic.com/sites/zweb/images/mail/promotion/15yr-strip-pattern.png') repeat 0 0/20px auto;
    position: relative
}

.zw-strip-band .zpromotion-wrap {
    max-width: 1980px;
    width: 100%;
    padding: 10px 50px 10px 10px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    display: block;
    z-index: 9
}

.i18n-ar .zw-strip-band .zpromotion-wrap {
    padding: 10px 10px 10px 50px
}

.zpromotion.zw-strip-band p {
    margin: 0;
    text-align: center;
    font-size: 15px;
    font-family: var(--zf-primary-semibold);
    position: relative;
    z-index: 9;
    display: inline-block;
    color: #000;
    padding-right: 40px
}

.i18n-ar .zpromotion.zw-strip-band p {
    padding-right: 0;
    padding-left: 40px
}

.zpromotion.zw-strip-band p:before {
    content: '';
    background: url('//www.zohowebstatic.com/sites/zweb/images/mail/promotion/15yr-strip-sprite.png') no-repeat 0 0/40px auto;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: -5px
}

.i18n-ar .zpromotion.zw-strip-band p:before {
    right: inherit;
    left: 0
}

.zpromotion.zw-strip-band p:after {
    content: '';
    background: url('//www.zohowebstatic.com/sites/zweb/images/mail/promotion/15yr-strip-sprite.png') no-repeat -10px 0/20px auto;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 20px;
    top: 10px
}

.i18n-ar .zpromotion.zw-strip-band p:after {
    right: inherit;
    left: 20px
}

.zpromotion.zw-strip-band .dis-date {
    color: #f0483e
}

.zpromotion.zw-strip-band .dis-cta {
    text-decoration: underline;
    color: #f0483e;
    font-family: var(--zf-primary-bold);
    display: inline-block
}

.zw-strip-band .zpremoclose {
    position: absolute;
    right: 15px;
    top: 13px;
    width: 18px;
    height: 18px;
    opacity: 1;
    background: #fff;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
    text-indent: -9999px;
    z-index: 9
}

.i18n-ar .zw-strip-band .zpremoclose {
    right: inherit;
    left: 15px
}

.zw-strip-band .zpremoclose:before,.zw-strip-band .zpremoclose:after {
    position: absolute;
    left: 8px;
    content: ' ';
    height: 9px;
    width: 2px;
    background: #000;
    top: 5px
}

.zw-strip-band .zpremoclose:after {
    transform: rotate(-45deg)
}

.zw-strip-band .zpremoclose:before {
    transform: rotate(45deg)
}

@media only screen and (max-width: 767px) {
    .zpromotion.zw-strip-band p,.i18n-ar .zpromotion.zw-strip-band p {
        font-size:13px;
        padding-right: 0;
        padding-left: 0
    }

    .zpromotion.zw-strip-band p:before,.zpromotion.zw-strip-band p:after {
        content: none
    }
}

.zw-other-lang:not(.i18n-ja,.i18n-en-in,.i18n-id) .zw-product-footer .footer-sec-wrap {
    display: block
}

.zw-other-lang.i18n-id .footer-sec-wrap {
    display: block
}

@media only screen and (max-width: 480px) {
    .zw-other-lang:not(.i18n-ja,.i18n-en-in,.i18n-id) .footer-links-wrap .product-links [class^="footer"],.zw-other-lang.i18n-id .footer-sec-wrap.two-column .content-wrap>div.promo-section-wrap,.zw-other-lang.i18n-id .footer-links-wrap .product-links [class ^="footer"]:not(.footer-terms,.footer-privacy) {
        display:block
    }

    .zw-other-lang:not(.i18n-ja,.i18n-en-in,.i18n-id) .zw-product-footer .footer-sec-wrap .apps-download-links-wrap {
        margin-top: 15px
    }
}

.zwc-zmodal {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.zwc-zmodal.zwc-is-visible {
    visibility: visible
}

.zwc-zmodal-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0 linear .3s,opacity .3s;
    -o-transition: visibility 0 linear .3s,opacity .3s;
    transition: visibility 0 linear .3s,opacity .3s
}

.zwc-zmodal.zwc-is-visible .zwc-zmodal-overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0
}

.zwc-zmodal-wrapper-out {
    position: fixed;
    width: 100%;
    z-index: 11;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    overflow: auto;
    padding-top: 60px;
    left: 0;
    right: 0;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center
}

.zwc-zmodal-wrapper {
    position: relative;
    z-index: 9999;
    max-width: 650px;
    width: 85%;
    background-image: linear-gradient(55deg,black 45%,#cfcfcf63 60%,black 75%);
    background-color: #000;
    color: #fff;
    border-radius: 20px 20px 20px 20px;
    margin: 0 auto
}

.zwc-zmodal-transition {
    -webkit-transition: opacity .5s ease-out,-webkit-transform .5s ease-out;
    -o-transition: opacity .5s ease-out,-webkit-transform .5s ease-out;
    transition: opacity .5s ease-out,-webkit-transform .5s ease-out;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0
}

.zwc-zmodal.zwc-is-visible .zwc-zmodal-transition {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.zwc-zmodal-content {
    padding: 15px
}

.zwc-zmodal-header {
    position: relative;
    color: #000;
    padding: 25px 50px;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px dashed #00000063
}

.zwc-zmodal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 21px;
    height: 21px;
    background: #9e9e9e;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    outline: 0;
    cursor: pointer
}

.zwc-zmodal-close:hover {
    opacity: 1
}

.zwc-zmodal-close:before,.zwc-zmodal-close:after {
    position: absolute;
    left: 10px;
    content: " ";
    height: 10px;
    width: 1px;
    background-color: #000
}

.zwc-zmodal-close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.zwc-zmodal-close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.zwc-zmodal-close:hover {
    color: #777
}

.zwc-zmodal-heading {
    font-size: 1.125em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--primaryfont-bold)
}

.zwc-zmodal-content>*:first-child {
    margin-top: 0
}

.zwc-zmodal-content>*:last-child {
    margin-bottom: 0
}

.zwc-zmodal-content-in.zwc-zcontent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
    align-items: center
}

.lang-rtl .zwc-zmodal-close {
    right: auto;
    left: 15px
}

.lang-rtl .zwc-sales-exicutive-img-box {
    transform: rotateY(180deg)
}

.lang-rtl .zwc-sales-exicutive-img-box:before {
    left: 0
}

.zwc-zmodal-content-in.zwc-zcontent .form-wrap {
    width: 100%
}

body.zwc-body-overflow {
    overflow: hidden
}

.zwc-zmodal-content-in.zwc-zcontent .signup-box {
    width: 100%;
    float: none;
    max-width: 100%
}

.zwc-sales-exicutive-img-box {
    display: grid;
    width: 280px;
    height: 275px;
    border-radius: 15px;
    position: relative;
    align-content: end
}

.zc-content-box {
    padding-bottom: 10px
}

.zwc-zmodal .zc-content-box h4 {
    font-size: 38px;
    margin: 0 0 10px;
    max-width: 350px;
    line-height: 1.2;
    font-family: var(--zf-primary-semibold);
    color: #fff;
    max-width: 280px
}

.zc-content-box h4+p {
    margin: 0 0 25px 0;
    font-family: var(--zf-primary-semibold);
    color: #fff
}

.zc-content-box p {
    margin: 0
}

.zc-content-box p a.zwc-callback-btn {
    background: #e52332;
    color: #fff;
    padding: 13px 30px 15px 30px;
    display: inline-block;
    border-radius: 5px;
    line-height: 1;
    font-family: var(--primaryfont-semibold)
}

.zwc-exicutive-photo {
    display: grid;
    position: relative;
    left: 10px
}

.zwc-exi-star-rating {
    display: grid;
    position: absolute;
    left: 20px;
    bottom: 20px;
    max-width: 120px
}

.zwc-sales-exicutive-img-box:before {
    content: "";
    position: absolute;
    background: #64dcff;
    background: linear-gradient(135deg,#fff798,#f6731b 90%);
    width: calc(100% - 35px);
    height: calc(100% - 0px);
    border-radius: 15px;
    bottom: 0
}

@media only screen and (max-width: 991px) {
    .zwc-sales-exicutive-img-box {
        width:260px;
        height: 235px
    }

    .zwc-zmodal-content-in.zwc-zcontent {
        gap: 20px
    }

    .zwc-zmodal-wrapper {
        max-width: 620px
    }
}

@media only screen and (max-width: 767px) {
    .zwc-zmodal .zc-content-box h4 {
        font-size:30px
    }

    .zc-content-box p {
        font-size: 13px
    }

    .zwc-sales-exicutive-img-box {
        width: 200px;
        height: 100%
    }

    .zwc-exi-star-rating {
        max-width: 85px
    }

    .zwc-zmodal-content-in.zwc-zcontent {
        gap: 25px
    }

    .zwc-zmodal-wrapper {
        width: 500px
    }

    .zwc-zmodal-content {
        padding: 15px 40px 15px 15px
    }
}

@media only screen and (max-width: 600px) {
    .zwc-zmodal-wrapper {
        background-image:linear-gradient(55deg,black 35%,#cfcfcf63 50%,black 65%);
        border-radius: 10px;
        width: 90%;
        max-width: 325px
    }

    .zwc-zmodal-close {
        right: 10px;
        top: 10px
    }

    .zwc-zcontent-left {
        display: none
    }

    .zwc-zmodal-content-in.zwc-zcontent {
        grid-template-columns: 1fr
    }

    .zwc-zmodal-content {
        padding: 25px 30px 25px 30px;
        text-align: center
    }

    .zc-content-box {
        padding-bottom: 4px
    }
}

@media only screen and (max-width: 480px) {
    .zwc-zmodal-header {
        padding:15px 20px;
        font-size: 14px
    }

    .zwc-zmodal-content-in.zwc-zcontent {
        padding: 0 10px;
        font-size: 16px
    }

    .zwc-zmodal-close {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8)
    }

    .zwc-zmodal .zc-content-box h4 {
        font-size: 24px
    }
}

.zwc-zoholics-banner {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 230px;
    max-width: 230px;
    background: #f4f9f2;
    padding: 10px 15px 15px 15px;
    border-radius: 5px 0 0 0;
    box-shadow: -5px 5px 20px -10px rgb(0 0 0 / 25%);
    transform: translateY(100%);
    transition: transform .35s linear;
    z-index: 2
}

.other-lang .zwc-zoholics-banner {
    display: none
}

.other-lang .zwc-meetup-banner {
    display: block
}

.zwc-zoholics-banner.zwc-zl-active {
    transform: translateY(0)
}

.zwc-zoholics-banner .zwc-zlb-close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 15px;
    height: 15px;
    border: 0;
    background: no-repeat;
    font-size: 0;
    padding: 0;
    cursor: pointer
}

.zwc-zoholics-banner .zwc-zlb-close:before {
    content: '\2715';
    font-size: 18px;
    font-weight: bold;
    line-height: .75
}

.zwc-zoholics-logo {
    display: grid;
    line-height: 0;
    padding-top: 10px;
    padding-bottom: 15px
}

.zwc-zoholics-logo img {
    max-height: 20px
}

.zwc-zl-content-box h4 {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px
}

.zwc-zl-content-box h4 span {
    display: grid;
    letter-spacing: -.5px
}

.zwc-zl-content-box p {
    line-height: 1.3;
    font-size: 12px;
    font-family: var(--zf-primary-semibold)
}

.zwc-zl-info {
    color: #00b417;
    font-family: var(--primaryfont-bold);
    font-size: 12px;
    padding-right: 60px;
    text-transform: uppercase;
    position: relative;
    padding: 0 60px 5px 0;
    line-height: 1.2
}

.zwc-zl-info:after {
    content: "";
    display: block;
    width: 100px;
    height: 110px;
    background: url(//www.zohowebstatic.com/sites/zweb/images/mail/zoholics/zoholics-artwork.png) bottom right no-repeat;
    position: absolute;
    right: -15px;
    bottom: 0;
    background-size: auto 100%;
    pointer-events: none
}

.zwc-zlevent-register-link {
    margin-top: 10px;
    position: relative
}

.zwc-zlevent-register-link a.zwc-register-now-btn {
    background: #000;
    padding: 12px 10px;
    display: grid;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-family: var(--primaryfont-bold);
    text-transform: uppercase;
    font-size: 12px
}

.zwc-meetup-banner {
    background: #f2f7f9
}

.zwc-meetup-banner img {
    max-height: 42px
}

.zwc-meetup-banner .zwc-zl-info p {
    color: #000;
    text-transform: none;
    padding-right: 60px
}

.zwc-meetup-banner .zwc-zl-info .zwc-zlevent-place+p {
    margin-top: 10px;
    margin-bottom: 15px
}

.zwc-meetup-banner .zwc-zl-info:after {
    right: -55px;
    bottom: -25px
}

.zwc-meetup-banner .zwc-zl-info.meetup-icon-in:after {
    background-image: url(//www.zohowebstatic.com/sites/zweb/images/mail/meetup/meetup-art-icon.png)
}

.zwc-meetup-banner .zwc-zl-info.customapac:after {
    background-image: url(//www.zohowebstatic.com/sites/zweb/images/mail/meetup/meetup-customapac-icon.png)
}

.zwc-meetup-banner .zwc-zl-info.custommea:after {
    background-image: url(//www.zohowebstatic.com/sites/zweb/images/mail/meetup/meetup-custommea-icon.png);
    width: 105px
}

.zwc-meetup-banner .zwc-zl-info {
    color: #0474d5;
    padding: 0 0 5px 0;
    font-size: 12px;
    line-height: 1.3
}

.zwc-meetup-banner .zwc-zlevent-register-link {
    padding-right: 60px
}

.i18n-ar .zwc-zoholics-banner {
    right: auto;
    left: 0
}

.i18n-ar .zwc-zoholics-banner .zwc-zlb-close {
    left: 15px;
    right: auto
}

.i18n-ar .zwc-zoholics-banner.zwc-zl-active {
    overflow: hidden
}

.i18n-ar .zwc-meetup-banner .zwc-zl-info p,.i18n-ar .zwc-meetup-banner .zwc-zlevent-register-link {
    padding-right: 0;
    padding-left: 60px
}

.i18n-ar .zwc-meetup-banner .zwc-zl-info:after {
    right: auto;
    left: -55px;
    transform: rotateY(180deg)
}

@media only screen and (max-width: 767px) {
    .zwc-zoholics-banner {
        display:none
    }

    .other-lang .zwc-meetup-banner {
        display: none
    }
}

.lang-rtl .quick-connect-links-wrap.zwc-is-active .quick-connect-links {
    right: 0;
    left: auto !important
}

.lang-rtl .quick-connect-links-wrap.zwc-is-active .show-links-btn {
    left: -45px;
    display: inline-block;
    right: auto !important
}

.lang-rtl .quick-connect-links-wrap {
    right: auto;
    left: 0
}

.lang-rtl .quick-connect-links-wrap .show-links-btn {
    left: 0;
    right: auto !important;
    border-radius: 0 4px 4px 0;
    transition: left .25s linear,right .25s linear
}

.lang-rtl .quick-connect-links-wrap .quick-connect-links {
    right: 225px;
    transition: right .25s linear
}

.lang-rtl .quick-connect-links-wrap>.show-links-btn:before {
    transform: translate(-50%,-50%) rotate(-135deg)
}

.lang-rtl .quick-connect-links-wrap>.show-links-btn:after {
    transform: translate(-50%,-50%) rotate(-45deg)
}

.lang-rtl .quick-connect-links h4 {
    margin-left: 40px;
    margin-right: 22px
}

.lang-rtl .quick-connect-links>.hide-links-btn {
    right: auto;
    left: 0
}

.lang-rtl .quick-connect-links ul li {
    padding-left: 0;
    padding-right: 19px
}

.lang-rtl .quick-connect-links ul li:before,.lang-rtl .quick-connect-links ul li:after {
    left: auto;
    right: 5px
}

.lang-rtl .quick-connect-links ul li:before {
    transform: rotate(-135deg)
}

.lang-rtl .quick-connect-links ul li:after {
    transform: rotate(-45deg)
}