.form-wcag-updated div.zgdprform-state-container::after,.form-wcag-updated div.zgdprform-countrylist-container::after,.getquote-box .form-wcag-updated .select-box:after {
    top: 45px
}

.getquote-box .zwc-label-control {
    color: #000;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.36px;
    vertical-align: top;
    font-family: var(--primaryfont-semibold)
}

.getquote-box .zwc-label-control .zwc-mandatory {
    color: red
}

.getquote-box .formInner input[type="submit"],.getquote-box .formInner button[type="submit"] {
    background: #d52b24
}

.getquote-box label.error {
    color: #ec0000
}